version: '3.7'

services:
  db:
    image: postgres:12
    environment:
      - POSTGRES_PASSWORD=postgres

  web:
    build: .
    command: gunicorn bookstore.wsgi -b 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - ENVIRONMENT=production
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - SECRET_KEY=824a6o#=x$o-p6b812*ylzneuccqgg(-q33-vh+8%g&hbk+=qz
      - DEBUG=0


