{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Book List {% endblock %}</title>
</head>
<body>
    {% block content %}

        <div class="">
            <nav>
                <a href="{% url 'new_book' %}">NEW BOOK</a>
            </nav>
        </div>
        <div class="col-4 my-auto">
            {% if not perms.books.special_status %}
                <a href="{% url 'order' %}" class="btn btn-success" >Purchase All Books</a>
            {% endif %}
            {% for book in books %}
                <h2 class="d-inline bg-dark text-white">
                    <a class="btn-primary" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                    <br>
                    <br>
                    <br>
                </h2>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>
